svg {
  background: grey;
}

svg rect {
  background: black;
}

path {
  fill: none;
  stroke: #000000;
}

.country {
  fill: darkgreen;
  stroke: green;
  stroke-width: 1;
}

.flightarc {
  stroke-width: 1px;
  stroke: orange;
  fill: none;
}
